body {
  font-family: 'Georgia', serif;
  background: #d99b7a;
  padding: 20px;
  color: #3a1f14;
}

.container {
  max-width: 700px;
  margin: auto;
  background: #e7b396;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 25px;
  font-size: 22px;
}

.box {
  background: #000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.box:hover {
  opacity: 0.7;
}

.content {
  display: none;
  background: #3a1f14;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  border-left: 4px solid #000;
  transition: all 0.3s ease;
}
