/* BODY / BACKGROUND MERAH DARAH */
body {
  font-family: 'Impact', 'Arial Black', sans-serif; /* font kasar */
  background: linear-gradient(180deg, #4a0000, #8b0000, #b30000);
  padding: 20px;
  color: #000;
  margin: 0;
}

/* CONTAINER PUTIH KOTOR */
.container {
  max-width: 700px;
  margin: auto;
  background: #f2e7d8; /* putih kotor */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* HEADINGS */
h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #000;
}

h2 {
  margin-top: 25px;
  font-size: 22px;
  color: #000;
}

/* BUTTON COKLAT TUA */
.toggleBtn {
  background: #4b2e21; /* coklat tua */
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Impact', 'Arial Black', sans-serif;
  font-size: 16px;
  transition: 0.3s;
}

.toggleBtn:hover {
  opacity: 0.7;
}

/* KONTEN TERTUTUP / PUTIH KUSAM */
.content {
  display: none;
  background: #f7efe3; /* putih kusam */
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  border-left: 4px solid #4b2e21;
  transition: all 0.3s ease;
  color: #3a1f14;
}
