body { font-family: 'impact', serif; background: linear-gradient(180deg, #4a0000, #8b0000, #b30000); /* merah darah */ padding: 20px; color: #3a1f14; }

.container { max-width: 700px; margin: auto; background: #f2e7d8; /* putih kotor */ padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

h1 { text-align: center; font-size: 32px; margin-bottom: 10px; }

h2 { margin-top: 25px; font-size: 22px; }

.box { background: #4b2e21; /* coklat tua */ color: #fff; padding: 10px 15px; border-radius: 8px; cursor: pointer; margin-top: 10px; transition: 0.3s; }

.box:hover { opacity: 0.7; }

.content { display: none; background: #f7efe3; /* putih kusam */ padding: 15px; margin-top: 10px; border-radius: 8px; border-left: 4px solid #4b2e21; transition: all 0.3s ease; }
